disable_mlock = true
storage "raft" {
  path = "{{ vault_data_path }}"
  node_id = "{{ vault_raft_node_id }}"
  {% for node in vault_raft_retry_join | difference([inventory_hostname]) -%}
  retry_join {
    leader_api_addr="{{ vault_protocol }}://{{ hostvars[node]['ansible_'+vault_iface]['ipv4']['address'] }}:{{ vault_port }}"
    leader_ca_cert_file="{{ vault_tls_config_path }}/{{ vault_tls_ca_file }}"
    leader_client_cert_file="{{ vault_tls_config_path }}/{{ vault_tls_cert_file }}"
    leader_client_key_file="{{ vault_tls_config_path }}/{{ vault_tls_key_file }}"
  }
  {% endfor %}
}
